body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  /*color: white;*/
  font-family: Lato;
  overflow: hidden;
}
body,
html * {
  /*color: khite;*/
}
canvas {
  width: 100%;
  height: 100%;
}
header {
  font-weight: 300;
  width: 850px;
  font-size: 24px;
  overflow: hidden;
  position: fixed;
  top: 2%;
  left: calc(50% - 425px);
}
header span {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: color 0.2s ease-out;
  color: lightgreen;
}
.game-message {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 100px);
  text-align: center;
}
#gameover {
  display: none;
}
#gameover .gameover-title {
  font-size: 54px;
  font-weight: 100;
  display: block;
  padding-left: 20px;
}
#gameover button {
  border-radius: 10px;
  font-family: Lato;
  font-weight: 100;
  background: none;
  font-size: 20px;
  color: inherit;
  border: none;
  cursor: pointer;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
#gameover button:hover {
  transition: all 0.2s ease-out;
  border: 1px solid lightgreen;
  color: lightgreen;
}
#play-button {
  font-size: 100px;
  width: 85px;
  text-align: center;
  border-radius: 99px;
  height: 100px;
  padding-left: 15px;
  left: calc(50% - 60px);
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
#play-button:hover {
  transition: all 0.1s ease-out;
  border: 2px solid lightgreen;
  color: lightgreen;
}
#play-button:hover > #play-text {
  transition: all 0.3s ease-out;
}
#time {
  visibility: hidden;
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 54px;
  font-weight: 100;
  opacity: 0;
  transition: 1s opacity ease-in;
}
#personal-best {
  visibility: hidden;
  position: absolute;
  left: 50px;
  bottom: 20px;
  font-size: 34px;
  color: rgb(90, 90, 90);
  opacity: 0;
  transition: 1s opacity ease-in;
  font-weight: 100;
}
#projects {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  width: 500px;
  margin-right: -60px;
  right: 0px;
  top: 75px;
  transition: 1s color ease-in;
}
#about {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  left: 40px;
  top: 75px;
  transition: 1s color ease-in;
}
section ul {
  list-style: none;
}
section li {
  margin: 10px 0;
}
#projects li {
  width: 100%;
  display: table;
}
#projects span {
  width: 50%;
  display: block;
  float: left;
}
#projects span:hover ~ span > a:first-of-type {
  transition: color 0.2s ease-out;
  color: lightgreen;
}
section i {
  text-align: center;
  margin-right: 20px;
}
#buttons {
  visibility: hidden;
  font-weight: 300;
  font-size: 24px;
  left: calc(50% - 175px);
  top: calc(100% - 100px);
  width: 500px;
  opacity: 0;
  transition: opacity 1s ease-out;
}
#buttons .left {
  float: left;
  text-align: left;
  width: 33%;
}
#buttons .center {
  float: left;
  text-align: center;
  width: 33%;
}
#buttons .right {
  float: left;
  text-align: right;
  width: 33%;
}
.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 25px;
}
@media (max-width: 1023px) {
  #play-button,
  #time,
  #personal-best {
    display: none;
  }
}
@media (max-width: 767px) {
  body {
    overflow: scroll;
  }
  #about,
  #projects,
  header {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 20px;
  }
  header span {
    width: 100%;
    float: none;
    margin: 20px;
  }
}
