---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<img class="me-image" src="/img/me.jpg" />

<h1>About Me</h1>

<p>
I work at <a href="https://mozilla.org">Mozilla</a> as an engineer on the Firefox Privacy &amp; Security Team. I spend the majority of my time working on our anti-tracking efforts, though I also maintain other areas of browser security and privacy, such as web permissions or data sanitization.
</p>

<p>
I'm the module owner for Firefox Security and Privacy UI as well as a module peer for a bunch of other modules.
</p>

<p>Before working on open source full time at Mozilla I was a pretty active open source contributor, mostly using JavaScript and Rust. If you're interested in my projects you should head over to <a href="http://github.com/johannhof">my GitHub profile</a>.</p>
