title: "Johann's Notes"
layout: default.liquid
data:
  route: blog
---
<ul class="blog-list">
  {% for post in collections.posts.pages %}
    <li>
      <a href="{{ post.permalink }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
