body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Lato;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100% background-color: white;
}
header {
  font-weight: 300;
  width: 850px;
  font-size: 24px;
  overflow: hidden;
  position: fixed;
  top: 2%;
  left: calc(50% - 425px);
}
header span {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: color 0.2s ease-out;
  color: lightblue;
}
#gameover {
  position: absolute;
  display: none;
  left: calc(50% - 125px);
  top: calc(50% - 50px);
  text-align: center;
}
#gameover .gameover-title {
  font-size: 54px;
  font-weight: 100;
  display: block;
  padding-left: 20px;
}
#gameover button {
  border-radius: 10px;
  font-family: Lato;
  font-weight: 100;
  background: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
#gameover button:hover {
  border: 1px solid lightblue;
  transition: color 0.2s ease-out;
  color: lightblue;
}
#time {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 54px;
  font-weight: 100;
}
#projects {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  width: 500px;
  margin-right: -60px;
  right: 0px;
  top: 75px;
  transition: 1s color ease-in;
}
#about {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  left: 40px;
  top: 75px;
  transition: 1s color ease-in;
}
section ul {
  list-style: none;
}
section li {
  margin: 10px 0;
}
#projects li {
  width: 100%;
  display: table;
}
#projects span {
  width: 50%;
  display: block;
  float: left;
}
#projects span:hover ~ span > a:first-of-type{
  transition: color 0.2s ease-out;
  color: lightblue;
}
section i {
  text-align: center;
  margin-right: 20px;
}
