---
permalink: /talks/
title: Talks
layout: default.liquid
data:
  route: talks
---
<ul class="blog-list">
  <li>
    <a href="https://www.youtube.com/watch?v=-WtE0Bv6iSs">Putting WebAssembly in your web app today! - JSUnconf 2018</a>
  </li>
  <li>
    <a href="/slides/web_security_2017.pdf">Web Security in 2017 - JSUnconf 2017</a>
  </li>
  <li>
    <a href="https://air.mozilla.org/rust-talk-european-community-gathering/">Rusting Together - Mozilla European Community Gathering 2016</a>
  </li>
  <li>
    <a href="/going-declarative">Going Declarative - React Berlin 2015</a>
  </li>
</ul>
