<nav class="menu">
  <a class="menu-item {% if page.data.route == "about"%}current{%endif%}" href="/about/">Johann</a>
  <a class="menu-item {% if page.data.route == "blog"%}current{%endif%}" href="/">Blog</a>
  <a class="menu-item" href="https://www.notion.so/johannhof/Johann-s-Scribbles-646639f7330b4147a2942172f36b6964">Scribbles</a>
  <a class="menu-item {% if page.data.route == "talks"%}current{%endif%}" href="/talks/">Talks</a>
  <a class="menu-item icon" href="http://github.com/johannhof"><i class="fa fa-github-square"></i></a>
  <a class="menu-item icon" href="http://twitter.com/johannh"><i class="fa fa-twitter-square"></i></a>
  <a class="menu-item icon" href="/rss.xml"><i class="fa fa-rss-square"></i></a>
  <hr>
</nav>
