extends: default.liquid

title: Me
route: about
---

<img class="me-image" src="/img/me.jpg" />

<h1>Hey</h1>

<p>
I'm Johann. This is what I do:
</p>

<p class="clearfix">
<img class="about-icon" src="/img/firefox.png" />
I work at <a href="https://mozilla.org">Mozilla</a> as a Firefox Engineer on the Privacy &amp; Security Team.
I'm also an <a href="https://addons.mozilla.org/en-US/firefox/">AMO</a> reviewer and contribute to other Mozilla projects, particularly in the add-on ecosystem.
You can track my contributions at my <a href="https://bugzilla.mozilla.org/user_profile?login=jhofmann%40mozilla.com">Bugzilla Profile</a>.
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I organize <a href="http://www.meetup.com/Rust-Berlin/">Rust Berlin</a>, a meetup group around the Rust Language.
I have written some crates (<a href="https://github.com/johannhof/pipeline.rs">pipeline.rs</a>, 
<a href="https://github.com/johannhof/difference.rs">difference.rs</a>, 
<a href="https://github.com/johannhof/markdown.rs">markdown.rs</a>, 
<a href="https://github.com/cobalt-org/liquid-rust">liquid-rust</a>)
and I'm co-author of the Rust static site generator <a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a>.
</p>

<p class="clearfix">
<img class="about-icon" src="/img/js.svg" />
Much of my day-to-day programming is done in JS. I co-organize <a href="http://nodeschool.io/berlin/">Nodeschool Berlin</a>.
I've also published some <a href="https://www.npmjs.com/~johannhof">npm modules</a>.
I'm a huge fan of functional reactive/declarative programming.
</p>

<p>
At night I use my spider-like superpowers to fight monsters and evil maniacs.
</p>

