<!DOCTYPE html>
<html>
  <head>
    {% include "_head.liquid" %}
  </head>
<body data-route={{ page.data.route }}>
  {% include "_menu.liquid" %}
  <main>
    {{ page.content }}
  </main>
  {% include "_footer.liquid" %}
</body>
</html>
